<div class="row">
    <div class="container col-sm-3 pnl-menu">
        <ul class="menu">
            <li><a ui-sref=".middlewarejobs" ui-sref-active="active">Middleware Jobs</a></li>
            <li><a ui-sref=".networkjobs" ui-sref-active="active">MCCS Jobs</a></li>
            <li><a ui-sref=".scheduledjobs" ui-sref-active="active">Scheduled Jobs</a></li>
            <li><a ui-sref=".jobsmonitor" ui-sref-active="active">Job Monitor</a></li>
        </ul>
    </div>
    <div class="col-sm-9">
        <div ui-view></div>
    </div>
</div>